:root {
    font-size: 18px;
}

body {
	margin: 0px;
	padding: 0px;
	font-family: "Raleway", sans-serif;
}

.container {
	margin: 5% 0%;
	padding: 5% 5%;
}

.container-fluid {
	margin: 5% 0%;
}

.row {
	display: flex;
	flex-wrap: wrap;
}

.row-reverse {
	flex-direction: row-reverse;
}

.column {
	display: flex;
	flex-direction: column;
}

.justify-content-end {
	justify-content: flex-end;
}

.justify-content-center {
	justify-content: center;
}

a {
	text-decoration: none;
}

hr {
	width: 90%;
}

.line{ 
    display:block;
    border:none;
    color:white;
    height:1px;
    background:black;
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 350, from(#000), to(#fff));
}

.container h2{
	color: maroon;
	font-weight: normal;
	letter-spacing: 5px;
	padding-bottom: 1%;
	text-transform: uppercase;
	text-align: center;
	border-bottom: 1px solid maroon;	
}

.container:nth-child(even){
	background: rgb(238,238,238);
}

.container p{
	line-height: 1.5;
}

.container h3{
	color: white;
	width: 20vw;
	padding: 0.5% 2%;
	background: rgba(0,0,0,0.7);
}

.container h3:hover {
	color: black;
	background: darkgrey;
}

.container i {
	color: darkgrey;
	margin-top: 2%;
	margin-right: 2%;
	font-size: 2rem;
}

.container i:hover {
	color: maroon;
	transform: scale(1.1);
}

/*cover*/
.cover {
	height: 100vh;
	background: linear-gradient(180deg, rgba(15,15,15, 1) 60%, rgba(71, 4, 4, 1));
	margin: 0px
	-webkit-box-shadow: 0px 3px 17px 0px rgba(0,0,0,0.61);
	-moz-box-shadow: 0px 3px 17px 0px rgba(0,0,0,0.61);
	box-shadow: 0px 3px 17px 0px rgba(0,0,0,0.61);
}

header{
	padding: 5%;
}

header h1{
	color: rgb(179, 182, 188);
	font-size: 3rem;
	text-transform: uppercase;
	letter-spacing: 15px;
	text-align: center;
}

header div{
	color: white;
	background: linear-gradient(to bottom, rgba(64, 65, 68, 1) 50%, rgba(71, 4, 4, 1) 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	margin-top: 5%;
	text-align: center;
	font-size: 8rem;
	font-weight: 500;
	line-height: 0.9;
}
/*end cover*/

/*nav bar*/
nav {
    background-color: rgba(0,0,0,0.8);
    border-bottom: 1px solid rgba(71, 4, 4, 0.9);
    text-transform: uppercase;
    position: -webkit-sticky;
  	position: sticky;
  	top: 0;
  	z-index: 2;
    overflow-y: hidden;
	transition: all .5s ease-in-out;
}

.nav-item {
    font-size: 0.6rem;
    text-align: center;
    padding: 14px 16px;
}

.nav-item a{
	color: white;
}

.nav-item:hover {
    border-bottom: 3px solid white;
}

.nav-item.active {
    border-bottom: 3px solid maroon;
}
/*end nav bar*/


/*about section*/
#section-about p{
	width: 60vw;
}

.my-image {
	width: 20vw;
	-webkit-box-shadow: 0px 13px 38px -10px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 13px 38px -10px rgba(0,0,0,0.75);
	box-shadow: 0px 13px 38px -10px rgba(0,0,0,0.75);
}
/*end about section*/

/*tech section*/
.tech-image{
	width: 7vw;
	height: 7vw;
	margin: 2% 3%;
	align-items: center;
	text-align: center;
	justify-content: space-around;
}

.tech-image img{
	width: 60%;
	filter: grayscale(1);
}

.tech-image small{
	font-size: 75%;
}

.tech-image img:hover{
	transition: all 0.4s ease;
	filter: grayscale(0);
}
/*end tech section*/

/*work section*/
.work-item {
	margin: 5% 0%;
}

.work-item div:first-child{
	width: 30vw;
	justify-content: center;
}

.work-item:nth-of-type(2){
	flex-direction: row-reverse;
}

.image-container img {
	-webkit-box-shadow: 10px 10px 19px -8px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 19px -8px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 19px -8px rgba(0,0,0,0.75);
}

.portrait-image {
	height: 30vw;
}

.image {
	width: 35vw;
}

.small-button{
	font-size: 0.7rem;
	background: transparent;
	color: maroon;
	text-transform: uppercase;
	border: 1px solid maroon;	
}

.small-button:hover{
	 transition: all 0.5s ease;
	background: maroon;
	color: white;
}
/*end work section*/

/*contact section*/
.contact-item i {	
	margin: 0vw 2vw;
}
.email{
	font-size: 2rem;
	margin-bottom: 2%;
	overflow-y: hidden;
	transition: all .7s ease-in-out;
}
.email:hover {
	letter-spacing: 15px;
	font-weight: 1000;
	background: linear-gradient(349deg, #e32717, #3b9bb2, #7962cb, #36c166);
	background-size: 800% 800%;
	-webkit-animation: AnimationName 20s ease infinite;
	-moz-animation: AnimationName 20s ease infinite;
	animation: AnimationName 20s ease infinite;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
/*end contact section*/


/*animations*/
@-webkit-keyframes AnimationName {
    0%{background-position:0% 34%}
    50%{background-position:100% 67%}
    100%{background-position:0% 34%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 34%}
    50%{background-position:100% 67%}
    100%{background-position:0% 34%}
}
@keyframes AnimationName { 
    0%{background-position:0% 34%}
    50%{background-position:100% 67%}
    100%{background-position:0% 34%}
}
/*end animations*/


/*media queries*/
@media screen and (min-width: 769px) {

}

@media screen and (min-width: 480px) and (max-width: 768px) {

	p {
		text-align: center;
	}

	/*about section*/
	#section-about p{
		width: 100vw;
	}

	#section-about div{
		flex-direction: column-reverse;
		align-items: center;
	}

	.my-image {
		width: 30vw;
	}

	/*tech section*/
	.tech-image{
		width: 14vw;
		height: 14vw;
		margin: 2% 3%;
		align-items: center;
		text-align: center;
		justify-content: space-around;
	}
	.tech-image small{
		font-size: 80%;
	}

	/*work section*/
	.work-item{
		flex-direction: column;
	}
	.work-item div:first-child{
		width: 100vw;
	}
	.container h3{
		color: white;
		width: 100vw;
		padding: 0;
		margin: 0;
		background: rgba(0,0,0,0.7);
		text-align: center;
	}
	.image-container{
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
	}	
	.portrait-image {
		align-self: center;
		height: 50vw;
		margin: 5% 0%;
		border: 2px solid white;
		z-index: 1;
	}
	.image-container img:nth-child(even){
		transform: translateX(-10vw);
	}
	.image {
		align-self: flex-end;
		width: 60vw;
		border: 2px solid white;
	}
	/*contact section*/
	.email{
		font-size: 1.5rem;
		overflow-y: hidden;
		transition: all .7s ease-in-out;
	}
	.email:hover {
		letter-spacing: 15px;
		font-weight: 1000;
		background: linear-gradient(349deg, #e32717, #3b9bb2, #7962cb, #36c166);
		background-size: 800% 800%;
		-webkit-animation: AnimationName 20s ease infinite;
		-moz-animation: AnimationName 20s ease infinite;
		animation: AnimationName 20s ease infinite;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
/*end contact section*/

    
}

@media screen and (max-width: 480px) {
	p {
		text-align: center;
	}

	/*about section*/
	#section-about p{
		width: 100vw;
	}

	#section-about div{
		flex-direction: column-reverse;
		align-items: center;
	}

	.my-image {
		width: 50vw;
	}

	/*tech section*/
	.tech-image{
		width: 21vw;
		height: 21vw;
		margin: 2% 3%;
		align-items: center;
		text-align: center;
		justify-content: space-around;
	}
	.tech-image small{
		font-size: 80%;
	}

	/*work section*/
	.work-item{
		flex-direction: column;
	}
	.work-item div:first-child{
		width: 100vw;
	}
	.container h3{
		color: white;
		width: 60vw;
		padding: 0;
		margin: 0;
		background: rgba(0,0,0,0.7);
		text-align: center;
	}
	.image-container{
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
	}	
	.portrait-image {
		align-self: center;
		height: 50vw;
		margin: 5% 0%;
		border: 2px solid white;
		z-index: 1;
	}
	.image-container img:nth-child(even){
		transform: translateX(-10vw);
	}
	.image {
		align-self: flex-end;
		width: 60vw;
		border: 2px solid white;
	}
	/*contact section*/
	.email{
		font-size: 1.5rem;
		overflow-y: hidden;
		transition: all .7s ease-in-out;
	}
	.email:hover {
		letter-spacing: 1px;
		font-weight: 1000;
		background: linear-gradient(349deg, #e32717, #3b9bb2, #7962cb, #36c166);
		background-size: 800% 800%;
		-webkit-animation: AnimationName 20s ease infinite;
		-moz-animation: AnimationName 20s ease infinite;
		animation: AnimationName 20s ease infinite;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
/*end contact section*/

}
/*end media queries*/